[user]
	name = sanja_s
	email = sanja100v@gmail.com
[diff]
	indentHeuristic = on
	noprefix = true
	colorMoved = default
[core]
	autocrlf = input
[help]
	autoCorrect = 1
[alias]
	st = status
	lg = log --oneline --graph --decorate --all \
  --date=format:'%Y-%m-%d %H:%M:%S' \
  --pretty=format:'%C(yellow)%h%C(reset) %C(cyan)%ad%C(reset) %C(auto)%d%C(reset) %s'
  	cnv = commit --no-verify -m
	ac = !git add . && git commit --no-verify -m
